<div class="container">
  <img
    class="meri"
    src="../../assets/photos/background.png"
    style="width: 100vw"
  />
  <div class="cont">
    <p class="m" [innerHTML]="data[3].text"></p>
    <p>
     <span [innerHTML]="data[4].text"></span> <span [innerHTML]="data[5].text"></span>
    </p>
    <p [innerHTML]="data[1].text"></p>
    <div class="wrap">
      <a href="{{data[6].url}}" target="_blank" class="hover-fx"><i data-block-key="p8gbs" class="fa-brands fa-facebook"></i></a>
      <a href="{{data[7].url}}" target="_blank" class="hover-fx"><i data-block-key="p8gbs" class="fa-brands fa-linkedin"></i></a>

      <a href="{{data[8].url}}" target="_blank" class="hover-fx"><i data-block-key="p8gbs"  class="fa-brands fa-twitter"></i></a>
      <a href="{{data[9].url}}" target="_blank" class="hover-fx"><i data-block-key="p8gbs"  class="fa-brands fa-instagram"></i></a>
    </div>
    <p class="flex"> 
      <span class="pr-1"> © {{ currentYear }}  </span>
     <span [innerHTML]="data[0].text"> </span>
    </p>
  </div>
</div>
