<div class="container">
  <img
    class="meri"
    src="../../assets/photos/background.png"
    style="width: 100vw"
  />
  <div class="cont">
    <p class="m">Caucasus University</p>
    <p>
      Paata Saakadze street 1 Tbilisi, 0102, Georgia | Phone: (+995 32) 2 37 77 77 | Email: info@cu.edu.ge
    </p>
    <p>Connect with us:</p>
    <div class="wrap">
      <a href="https://www.facebook.com/CaucasusUniversity" target="_blank" class="hover-fx"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.linkedin.com/edu/school?id=192079&trk=edu-ca-frm-cncl" target="_blank" class="hover-fx"><i class="fa-brands fa-linkedin"></i></a>

      <a href="https://twitter.com/CaucasusUni" target="_blank" class="hover-fx"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.instagram.com/caucasusuniversity/" target="_blank" class="hover-fx"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <p>
      © 2022 კავკასიის უნივერსიტეტი. ყველა უფლება დაცულია.
    </p>
  </div>
</div>
