<div class="meri">
  <nav class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="param == 'first' ? 'checked' : ''"
        (click)="param = 'first'"


        >POLICY ROUNDTABLES
        </a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="param == 'second' ? 'checked' : ''"
        (click)="param = 'second'"
      >
      EXPERT INTERVIEWS</a
      >
    </li>
  </nav>
  <div class="first" *ngIf="param == 'first'">
    <h2 [innerHTML]="aboutt.title"></h2>
    <p  [innerHTML]="aboutt.paragraph">
    </p>
  </div>
  <div *ngIf="param == 'second'">
    <div class="videos">
      <div class="video" *ngFor="let item of data">
        <iframe
        width="300"
        height="200"
        [src]="item.url"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="video-details">
        <a  class="video-title"  [innerHTML]="item.title.slice(0,55) + '...'"></a>
        <a  class="video-channel-name" [innerHTML]="item.description.slice(0,55) + '...'"></a>
      </div>
      </div>
  </div>
</div>
