<br />
<br />
<h1 routerLink="/news" class="headeer" [innerHTML]="data2[19]?.text"></h1>
<div class="first">
<app-slider></app-slider>

</div>
<br />
<br />
<h1 routerLink="/events" class="headeer" [innerHTML]="data2[18]?.text"></h1>
<div class="second">
  <app-events
    [event]="data2[18]?.text"
    routerLink="/full-event"
    [queryParams]="{ article: len2 }"
    [image]="dataaa[len2 - 1]?.photo"
    [header]="dataaa[len2 - 1]?.title.slice(0, 100) + '...'"
    [description]="dataaa[len2 - 1]?.article.slice(0, 250) + '...'"
  ></app-events>
  <app-events
  [event]="data2[18]?.text"
  routerLink="/full-event"
  [queryParams]="{ article: len2-1 }"
  [image]="dataaa[len2 - 2]?.photo"
  [header]="dataaa[len2 - 2]?.title.slice(0, 100) + '...'"
  [description]="dataaa[len2 - 2]?.article.slice(0, 250) + '...'"
></app-events>
<app-events
[event]="data2[18]?.text"
routerLink="/full-event"
[queryParams]="{ article: len2 -2 }"
[image]="dataaa[len2 - 3]?.photo"
[header]="dataaa[len2 - 3]?.title.slice(0, 100) + '...'"
[description]="dataaa[len2 - 3]?.article.slice(0, 220) + '...'"
></app-events>

  
</div>

<div class="frame">
  <div>
    <h1
      class="blog-title"
      routerLink="/blog"
      [innerHTML]="this.data2[11].text"
    ></h1>
    <div class="news">
      <div *ngFor="let item of dataa">
        <div class="blog"  
        routerLink="/full-blog"
        [queryParams]="{ article: item.id }"
        >
          <img src="{{item.photo}}"/>
          <h6
          class="text"
          [innerHTML]="item.title"
        ></h6>

        </div>


      </div>

     
    </div>
  </div>
  <div>
    <iframe
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F100083649975315&tabs=timeline&width=400&height=600&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
      width="400"
      height="600"
      style="border: none; overflow: hidden"
      scrolling="no"
      frameborder="0"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
    ></iframe>
  </div>

  <div>
    <a
      class="twitter-timeline"
      data-width="400"
      data-height="600"
      href="{{link1}}"
    >
      
    </a>
  </div>
</div>
