<div class="first">
  <div class="carr">
    <div
      id="carouselExampleIndicators"
      class="carousel slide w-70"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators w-70">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active dont1" routerLink="/full-news" [queryParams]="{ article: len-2}">
          <img
          class="size1"
          src="{{ data[len-3].photo }}"
          alt="..."
        />
        <p
          class="apsolute"
          [innerHTML]="data[len-3].title.slice(0, 55) + '...'"
        ></p>
        </div>
        <div class="carousel-item dont1"  routerLink="/full-news" [queryParams]="{ article: len-1 }">
          <img
            class="size1"
            src="{{ data[len-2].photo }}"
            alt="..."
          />
          <p
            class="apsolute"
            [innerHTML]="data[len-2].title.slice(0, 55) + '...'"
          ></p>
        </div>
        <div class="carousel-item dont1"  routerLink="/full-news" [queryParams]="{ article: len }">
          <img
            class="size1"
            src="{{ data[len-1].photo }}"
            alt="..."
          />
          <p
            class="apsolute"
            [innerHTML]="data[len-1].title.slice(0, 55) + '...'"
          ></p>
        </div>
      </div>
      <div class="prevv">
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
      </div>
      <div class="prevv">
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>

        </button>
      </div>
    </div>
  </div>
  <div class="">
    <h4 routerLink="/events" class="blog-title">upcoming event</h4>
    <hr />
    <div class="news">
    <h6 class="text" *ngFor="let item of dataaa" routerLink="/full-event" [queryParams]="{article:item.id}"  [innerHTML]="item.title"></h6>
    </div>
  </div>
</div>
<br />
<br />

<div class="second">
  <div class="dont1" routerLink="/full-news" [queryParams]="{ article: len }">
    <img class="size" src="{{ data[len-1].photo }}" />
    <p class="apsolute" [innerHTML]="data[len-1].title.slice(0, 55) + '...'"></p>
  </div>

  <div class="dont1" routerLink="/full-news" [queryParams]="{ article: len-1 }">
    <img class="size" src="{{ data[len-2].photo }}" />
    <p class="apsolute" [innerHTML]="data[len-2].title.slice(0, 55) + '...'"></p>
  </div>

  <div class="dont1" routerLink="/full-news" [queryParams]="{ article: len-2 }">
    <img class="size" src="{{ data[len-3].photo }}" />
    <p class="apsolute" [innerHTML]="data[len-3].title.slice(0, 55) + '...'"></p>
  </div>
</div>

<div class="frame">
  <div>
    <h1 class="blog-title" routerLink="/blog">On our Blog</h1>
    <br />
    <hr />
    <div class="news">

      <h6 class="text" *ngFor="let item of dataa" routerLink="/full-blog" [queryParams]="{article:item.id}"  [innerHTML]="item.title"></h6>
    </div>
  </div>
  <div>
    <iframe
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCaucasusUniversity&tabs=timeline&width=400&height=600&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
      width="400"
      height="600"
      style="border: none; overflow: hidden"
      scrolling="no"
      frameborder="0"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
    ></iframe>
  </div>

  <div>
    <a
      class="twitter-timeline"
      data-width="400"
      data-height="600"
      href="https://twitter.com/CaucasusUni"
    >
      Tweets by TwitterDev
    </a>
  </div>
</div>
