.cont{
    display: flex;
    margin-top: 20px;

}
img{
    height: 150px !important;
    margin-left: 5vw;

}
.time{
    margin-left: 5vw;
    margin-top: 10px;
    h3{
    color: #316BA2;
    }
}
.txt{
    margin-left: 20px;
  
}
.margin{
    margin-top:30px;
    background-color: white;
    width:80vw;
    margin-left:8vw;
    border-radius: 5px;
}
.read-more {
    padding: 5px 15px;
    border: none;
    font-size: 16px;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background:#316BA2;
    margin:10px;
  }