<div class="">
  <div style="width: 100%">
    <iframe
      width="98%"
      height="500"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=caucasus%20university+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
      ><a href="https://www.gps.ie/wearable-gps/">adventure gps</a></iframe
    >
  </div>

  <div class="container">
    <h3 class="mb-4 mt-md-4" [innerHTML]="data[14].text"></h3>
    <div class="dbox w-90 d-flex align-items-start">
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="fa fa-map-marker"></span>
      </div>
      <div class="text pl-3">

        <p  [innerHTML]="data[15].text"><span></span></p>
      </div>
    </div>
    <div class="dbox w-90 d-flex align-items-center">
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="fa fa-phone"></span>
      </div>
      <div class="text pl-3">
        <p>
          <span></span>
          <a [innerHTML]="data[16].text"></a>
        </p>
      </div>
    </div>
    <div class="dbox w-90 d-flex align-items-center">
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="fa fa-paper-plane"></span>
      </div>
      <div class="text pl-3">
        <p>
          <span></span>
          <a  [innerHTML]="data[17].text"></a>
        </p>
      </div>
    </div>
  </div>
</div>
