p{
    padding: 0px 100px;
    font-size: 14px;
}
h1,h2{
    margin-top: 29px;
    padding: 0px 100px;
    margin-bottom: 14.5px;
    color:#316BA2;
    font-weight: bolder;
}
.text{
    margin-top: 20px;
    color:#316BA2;
    font-size: 20px;
    white-space: pre-line;
}
