.book{
    display: flex;
    width:20vw;
    margin:4vh;
    
}
.books{
    display: flex;
}
.right{
    margin:20px;
}
// img{
//     height:300px;
//     width:200px;
// }
.header{
    font-size: 20px;
    font-weight: 800;
    color:#316BA2;
}
p{
    color:#316BA2;

}
.author{
    font-size: 14px;
    color:#316BA2;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
h1,h4{
    color:#316BA2;
}
.meri{
    font-weight: 500;
}
nav{
    margin-left: 20px;
    margin-top:40px;
    .nav-link{
        color: #316BA2;
        font-weight: bold;
        text-transform: uppercase;
    
    }
   
  
}
.checked{
    border-left: 6px solid rgb(10, 84, 168);
  }
  
.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #CCC;
  }
  
  .video-section:first-child {
    border-top: none;
  }
  
  .video-container {
    display: flex;
    flex-direction: column;
  }
  
  .thumbnail {
    position: relative;
    display: flex;
  }
  
  .thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;
  }
  
  .thumbnail-image {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
  }
  
  .video-bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
  }
  
  .channel-icon {
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
  }
  
  .video-details {
    display: flex;
    flex-direction: column;
  }
  
  .video-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: black;
  }
  
  .video-channel-name {
    text-decoration: none;
    width:300px;

  }
  
  
  .video-channel-name,
  .video-metadata {
    color: #555;
  }
  
  .video-section-title {
    grid-column: 1 / -1;
    margin: -.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
  }
  
  .video-section-title-close {
    border: none;
    background: none;
    padding: 0;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
  }
  
  .videos {
    margin:2vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  iframe{
    margin-left:0;
    margin-top:2vh;
  }
  a{
     color:#316BA2 !important;
  }
  @import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.snip1360 {
  cursor: pointer;
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 30px;
  min-width: 300px;
  max-width: 315px;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  background-color: #ffffff;
  margin-top:50px;
  display: flex;
  flex-direction: column;
  min-height:600px !important;
  max-height:650px !important;

}
.snip1360 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1360 img {
  max-width: 100%;
  height:300px;
  vertical-align: top;
}
.snip1360 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 25px 55px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:300px;
}
.snip1360 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1360 figcaption a {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #cccccc;
  color: #000000;
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 0.65;
  width: 100%;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}
.snip1360 figcaption a:hover {
  opacity: 1;
}
.snip1360 h4 {
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
}
.snip1360 p {
  display: flex;
  margin: 0 0 10px;
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.9;
}
.bookss{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
